@use "_reset.scss";
@use "_mixin.scss" as mixin;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  // width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

html,
body,
input,
select {
  font-family: mixin.$font_family;
}

input:focus,
select:focus {
  outline: none;
}

#root {
  height: 100%;
  width: 100%;
}

.w-h-100 {
  height: 100%;
  width: 100%;
}

///////////////////////////////////////////////////
.container {
  @include mixin.themify(mixin.$themes) {
    background: mixin.themed("color_background");
    color: mixin.themed("color_text");
  }
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  @include mixin.themify(mixin.$themes) {
    background-color: mixin.themed("color_elements");
    color: mixin.themed("color_text");
  }

  &:hover {
    @include mixin.themify(mixin.$themes) {
      box-shadow: 0 0 15px 4px mixin.themed("color_shadow");
    }
  }
}

@include mixin.mobiles {
  header {
    display: flex;
    justify-content: space-between;
    @include mixin.themify(mixin.$themes) {
      background-color: mixin.themed("color_elements");
      box-shadow: 0 0 15px 4px mixin.themed("color_shadow");
    }
    padding: 4vh 4vw;

    & .logo {
      font-weight: 800;
    }

    & .theme-switch {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  main {
    & .filter__bar {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 3vh 4vw;

      & .search {
        width: 100%;
        position: relative;

        & svg {
          position: absolute;
          top: 18px;
          left: 22px;
          z-index: 1;
          @include mixin.themify(mixin.$themes) {
            fill: mixin.themed("color_input");
          }
        }

        & input {
          @include mixin.themify(mixin.$themes) {
            background-color: mixin.themed("color_elements");
            color: mixin.themed("color_text");
            box-shadow: 0 0 15px 4px mixin.themed("color_shadow");
          }
          border: 0;
          border-radius: 5px;
          width: 100%;
          padding: 18px 20px 18px 60px;
        }

        & input::placeholder {
          @include mixin.themify(mixin.$themes) {
            color: mixin.themed("color_input");
          }
        }
      }

      & .filter {
        & select {
          @include mixin.themify(mixin.$themes) {
            background-color: mixin.themed("color_elements");
            color: mixin.themed("color_text");
            box-shadow: 0 0 15px 4px mixin.themed("color_shadow");
          }
          border: 0;
          border-radius: 5px;
          padding: 10px 20px;
        }
      }
    }

    & .search__results {
      @include mixin.themify(mixin.$themes) {
        background: mixin.themed("color_background");
      }

      & .countries {
        @include mixin.vertical_list;

        & a {
          text-decoration: none;
          color: inherit;
        }

        & .card {
          @include mixin.themify(mixin.$themes) {
            background-color: mixin.themed("color_elements");
            box-shadow: 0 0 15px 4px mixin.themed("color_shadow");
          }
          margin-bottom: 30px;
          display: grid;
          gap: 5px;
          width: 75vw;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            transform: translateY(-0.5%);
            @include mixin.themify(mixin.$themes) {
              box-shadow: 0 2rem 8rem mixin.themed("color_hover_shadow");
            }
          }

          & .country__flag {
            height: 200px;
            width: 100%;
            display: block;
            object-fit: cover;
            border-radius: 5px 5px 0px 0px;
          }

          & .country__name {
            padding: 25px 20px;
            font-weight: 800;
            font-size: 18px;
          }

          & p,
          ul {
            padding: 10px 20px;
          }

          & ul {
            list-style: none;
            margin-bottom: 30px;

            & li {
              padding-bottom: 5px;

              & .country__details__label {
                font-weight: 600;
              }
            }
          }
        }
      }

      & .pagination-container {
        display: flex;
        list-style-type: none;
        justify-content: center;

        .pagination-item {
          @include mixin.themify(mixin.$themes) {
            color: mixin.themed("color_text");
          }

          padding: 0 12px;
          height: 32px;
          text-align: center;
          margin: auto 4px;
          display: flex;
          box-sizing: border-box;
          align-items: center;
          letter-spacing: 0.01071em;
          border-radius: 16px;
          line-height: 1.43;
          font-size: 13px;
          min-width: 32px;

          &.dots:hover {
            background-color: transparent;
            cursor: default;
          }
          &:hover {
            background-color: rgba(0, 0, 0, 0.04);
            cursor: pointer;
          }

          &.selected {
            @include mixin.themify(mixin.$themes) {
              background-color: mixin.themed("color_elements");
            }
            color: #f38e82;
            font-weight: bold;
          }

          .arrow {
            &::before {
              position: relative;
              content: "";
              display: inline-block;
              width: 0.45em;
              height: 0.45em;
              font-weight: bold;

              @include mixin.themify(mixin.$themes) {
                border-right: 0.2em solid mixin.themed("color_text");
                border-top: 0.2em solid mixin.themed("color_text");
                // color: #f38e82;
                color: mixin.themed("color_text");
              }
            }

            &.left {
              transform: rotate(-135deg) translate(-50%);
            }

            &.right {
              transform: rotate(45deg);
            }
          }

          &.disabled {
            pointer-events: none;
            visibility: hidden;

            &:hover {
              background-color: transparent;
              cursor: default;
            }
          }
        }
      }
    }

    & .country {
      display: grid;
      gap: 60px;
      padding: 4vh 6vw;

      & svg {
        height: 20px;
        width: 20px;
      }

      &__flag {
        display: block;
        width: 100%;
        object-fit: cover;
      }

      &__info {
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: 20px;

        &--nd-section {
          display: grid;
          gap: 20px;

          & h2 {
            font-size: 26px;
            font-weight: 800;
            padding: 15px 0;
          }

          &__list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-bottom: 35px;

            & ul {
              list-style: none;
              padding: 0;

              & li {
                font-size: 14px;
                font-weight: 800;
                margin-bottom: 20px;

                & span {
                  font-weight: normal;
                }
              }
            }
          }

          & .neighbours__list {
            display: flex;
            flex-direction: column;
            gap: 15px;

            h3 {
              font-size: 16px;
              font-weight: 800;
            }

            &--section {
              display: flex;
              gap: 20px;
              flex-wrap: wrap;

              & .neighbour {
                padding: 5px 20px;
                font-size: 12px;
                cursor: pointer;

                @include mixin.themify(mixin.$themes) {
                  background-color: mixin.themed("color_elements");
                  color: mixin.themed("color_text");
                }

                &:hover {
                  @include mixin.themify(mixin.$themes) {
                    box-shadow: 0 0 15px 4px mixin.themed("color_shadow");
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include mixin.tablet {
  main {
    & .search__results {
      & .countries {
        @include mixin.horizontal_list;
        padding: 1vh 4vw;

        & .card {
          width: 45%;

          & .country__flag {
            height: 180px;
          }
        }
      }
    }

    & .country {
      padding: 4vh 4vw;
      &__info {
        flex-direction: row;
        gap: 70px;
      }
    }
  }
}

@include mixin.desktop {
  header {
    padding: 3vh 4vw;
  }

  main {
    & .search__results {
      & .countries {
        & .card {
          width: 30%;
        }
      }
    }

    & .country {
      &__info {
        flex-direction: row;
        gap: 80px;

        &--st-section {
          width: 40%;
        }

        &--nd-section {
          padding-top: 25px;

          &__list {
            gap: 95px;
            flex-direction: row;
          }
        }

        & .neighbours__list {
          flex-direction: row;
          align-items: center;
        }
      }
    }
  }
}

@include mixin.desktopl {
  main {
    & .search__results {
      & .countries {
        & .card {
          width: 22%;
        }
      }
    }

    & .country {
      &__info {
        &--st-section {
          width: 45%;
        }
      }
    }
  }
}
