@use "_reset.scss";
@use "_mixin.scss" as mixin;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

html,
body,
input,
select {
  font-family: mixin.$font_family;
}

input:focus,
select:focus {
  outline: none;
}

///////////////////////////////////////////////////
.container {
  height: 100vh;
  @include mixin.themify(mixin.$themes) {
    background: mixin.themed("color_background");
    color: mixin.themed("color_text");
  }
}

.countries {
  @include mixin.vertical_list;
}

@include mixin.mobiles {
  header {
    display: flex;
    justify-content: space-between;
    @include mixin.themify(mixin.$themes) {
      background-color: mixin.themed("color_elements");
      box-shadow: 0 0 15px 4px mixin.themed("color_shadow");
    }
    padding: 4vh 4vw;

    & .logo {
      font-weight: 800;
    }

    & .theme-switch {
      font-weight: 600;
      display: flex;
      gap: 10px;
    }
  }

  main {
    & .filters {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 3vh 4vw;

      & .search {
        width: 100%;
        position: relative;

        & svg {
          position: absolute;
          top: 18px;
          left: 22px;
          z-index: 1;
          @include mixin.themify(mixin.$themes) {
            fill: mixin.themed("color_input");
          }
        }

        & input {
          @include mixin.themify(mixin.$themes) {
            background-color: mixin.themed("color_elements");
            color: mixin.themed("color_text");
            box-shadow: 0 0 15px 4px mixin.themed("color_shadow");
          }
          border: 0;
          border-radius: 5px;
          width: 100%;
          padding: 18px 20px 18px 60px;
        }

        & input::placeholder {
          @include mixin.themify(mixin.$themes) {
            color: mixin.themed("color_input");
          }
        }
      }

      & .filter {
        & select {
          @include mixin.themify(mixin.$themes) {
            background-color: mixin.themed("color_elements");
            color: mixin.themed("color_text");
            box-shadow: 0 0 15px 4px mixin.themed("color_shadow");
          }
          border: 0;
          border-radius: 5px;
          padding: 10px 20px;
        }
      }
    }

    & .countries {
      & .card {
        @include mixin.themify(mixin.$themes) {
          background-color: mixin.themed("color_elements");
          box-shadow: 0 0 15px 4px mixin.themed("color_shadow");
        }
        margin-bottom: 30px;
        display: grid;
        width: 75vw;
        border-radius: 5px;

        & p,
        ul {
          padding: 10px 20px;
        }

        & ul {
          list-style: none;
        }
      }
    }
  }
}
